<section class="slice sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-6  post_image_form">
            <div class="section-title-wrapper style-1 v1">
              <h3 class="section-title section-title-sm left">
                <span>Add Information</span>
              </h3>
            </div>

            <%= form_for(@post_information, url: post_informations_path) do |f| %>
              <% if @post_information.errors.any? %>
                <div id="error_explanation">
                  <ul>
                  <% @post_information.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="row">
                <div class="col-sm-12">
                  <%= f.attachment_field :image %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group has-icon">
                    <label class="control-label sr-only">Place</label>
                    <%= f.text_field :place, class:"form-control", placeholder:"Place" %>
                    <span class="fa fa-building form-control-icon" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group has-icon">
                    <label class="control-label">Date</label>
                    <%= f.datetime_select :date, class:"form-control"%>
                    <span class="fa fa-building form-control-icon" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <%= f.text_field :title, class:"form-control", rows:"3", placeholder:"Title" %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <%= f.text_area :comment, class:"form-control", rows:"3", placeholder:"Comment" %>
                </div>
              </div>
              <%= f.submit "Add", class:"btn btn-lg btn-block btn-base-1 mt-20 btn-info" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- 

<%=form_for(@post_information, url:post_informations_path) do |f| %>
	<% if @post_information.errors.any? %>
		<div id="error_explanation">
			<ul>
				<% @post_information.errors.full_messages.each do |message| %>
					<li><%=message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<div>
<h1>Add Information</h1>
</div>
	<div>
		<label>title</label>
		<%=f.text_field :title %>
	</div>
	<div>
		<label>comment</label>
		<%=f.text_area :comment %>
	</div>
	<div>
		<label>place</label>
		<%=f.text_field :place %>
	</div>
	<div>
		<label>date</label>
		<%=f.datetime_select :date %>
	</div>
	<div>
		<label>image</label>
		<%=f.attachment_field :image %>
	</div>
	<%=f.submit "Post" %>
<% end %> -->