<!DOCTYPE html>
<html>
  <head>
    <title>KESSWEB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <h2>KESS</h2>
        </nav>>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%=link_to "Member", users_path %></li>
              <li><%=link_to "Information", post_informations_path %></li>
              <li><%=link_to "Application", post_applications_path %></li>
              <li><%=link_to "My page", user_path(current_user) %></li>
              <li><%=link_to "Home", top_path %></li>
              <li><%=link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%=link_to "Top", top_path %></li>
              <li><%=link_to "About", about_path %></li>
              <li><%=link_to "Blog", root_post_blogs_path %></li>
              <li><%=link_to "Contact", contact_path %></li>
              <li><%=link_to "Sign up", new_user_registration_path %></li>
              <li><%=link_to "Log in", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <% if user_signed_in? %>
      <main>
        <div class="container">
          <div class="row">
            <nav class="col-lg-2 sidebar" style=" background-color:#383838;">
              <div class="sidebar-sticky">
                <ul class="nav flex-column nav-sidebar">
                  <% if judge(current_user)<=1 %>
                    <li class="nav-item">No option is available</li>
                  <% end %>
                  <% if judge(current_user)>=2 %>
                    <li class="nav-item"><%=link_to "Post Infomation", new_post_information_path %></li>
                  <% end %>
                  <% if judge(current_user)>=3 %>
                    <li class="nav-item"><%=link_to "Post Application", new_post_application_path %></li>
                    <li class="nav-item"><%=link_to "Post Blog", new_post_blog_path %></li>
                    <% if image_posted? %>
                       <li class="nav-item"><%=link_to "Change Image", edit_post_image_path(image_last_id) %></li>
                    <% else %>
                       <li class="nav-item"><%=link_to "Post Image", new_post_image_path %></li>
                    <% end %>
                    <li class="nav-item"><%=link_to "Number", numbers_path %></li>
                    <li class="nav-item"><%=link_to "Inquiry", inquiries_path %></li>
                  <% end %>
                  <!-- 管理者ページへのリンク -->
                  <% if current_user.try(:admin?) %>
                     <li class="nav-item"><%=link_to "Administration","/admin" %>
                  <% end %>
                </ul>
              </div>
            </nav>
            <div class="main col-lg-10">
             <%= yield %>
            </div>
          </div>
        </div>
      </main>
    <% else %>
      <main>
        <%=yield %>
      </main>
    <% end %>

    <footer class="footer style-2 footer_style">
      <div class="container">
        <div class="row">
          <p class="footer_text">ⒸAll rights reserved by Keio English Speaking Society</p>
        </div>
      </div>
    </footer>

  </body>
</html>